.inputBlock{
    height: 20px;
    display: flex;
    align-items: center;
}

.inputBlock input{
    height: 31px;
}
.inputBlock button{
    color: #131947;
}
.error{
    color: red;
    padding: 0;
    margin: 0;
    border-color: red;
}