.card{
    color: black;

    background-color: #ffffff;
}

.card h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
}

.card ul{
    padding-left: 0;
    list-style: none;
    font-size: 25px;
}

.btns{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 5px 10px;
    background-color: #131947;
    color: #ffffff;
}
.active_btn{
    padding: 5px 10px;
    background-color: #6cbf2b;
    color: #ffffff;
}